{{> head }}
<div class="container full">
    <div class="row-fluid full">
        <div class="span12 full">
        <div class="hero-unit center">
                <h3>Info:</h3>
                <p>Full balance: <span id="balance">{{ balance }}</span>฿</p>
                <p>
                    <button class="btn btn-primary btn-large" id="balanceall">Refresh</button>
                </p>
                
            </div>
            <div class="hero-unit center">
                <h3>Create New Address Pack</h3>
                <p></p>
                <p>
                    <button class="btn btn-primary btn-large" id="newPack">Create New Address Pack</button>
                </p>
                <div id="pack"></div>
            </div>
            <div class="hero-unit center">
                <h3>Crypt/decrypt Wallet for cold storage</h3>
                <p></p>
                <p>
                    <button class="btn btn-primary btn-large" id="crypt">Crypt wallet</button>
                    <button class="btn btn-primary btn-large" id="decrypt">DeCrypt wallet</button>
                </p>
                <div id="info"></div>
            </div>
            
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
       $("#newPack").click(function () {
           $.ajax({
               type: "POST",
               url: "/newpack",
               success: function (d) {
                   if (d.success) {
                       var packid = d.packid;
                       $("#pack").text( 'New Pack id: ' +packid);   
                   }
               }
           })  
       });
    $("#crypt").click(function () {
           $.ajax({
               type: "POST",
               url: "/encryptwallet",
               success: function (d) {
                   if (d.success) {
                       
                       $("#info").text( ' Wallet Crypted ' ); ;   
                   }
               }
           })  
       });
    $("#decrypt").click(function () {
           $.ajax({
               type: "POST",
               url: "/walletpassphrase",
               success: function (d) {
                   if (d.success) {
                       
                       $("#info").text( ' Wallet Decrypted on 15 sec!' );   
                   }
               }
           })  
    });
        $("#balanceall").click(function () {
          $.ajax({
             type: "POST",
             url: "/getbalanceall",
             
             success: function (e) {
                 if (e.success) {
                     $("#balance").text(e.balance);
                 }
             } 
          });
       });



    });
</script>
{{> footer }}