{{> head }}
<div class="container">
    <div class="row-fluid">
        <div class="span6">
            <h2>Invoice number {{ invoice }} </h2>
            <hr />
            <h4>Please pay to: <input type="text" value="{{ wallet }}" id="wallet" readonly/>
</h4>
<div class="qr-link">
                        <img src="https://chart.googleapis.com/chart?cht=qr&amp;chs=200x200&amp;chl=bitcoin%3A{{ wallet }}&amp;chld=H|0" class="qrimage smallQR">
                    </div>
<p>Current balance:
<span id="balance"> {{ balance }}</span>฿ </p>
          
            
         
            
        </div>
    </div>
   
    
</div>

{{> footer }}
