{{> head }}
<div class="container full">

    <div class="row-fluid full">
        <div class="span12 full">
            <div class="hero-unit center">
                <h1>Shop Emulator for Testing</h1>
<h2>5 Invoices:</h2>

                  <iframe src="{{ url }}invoice/8/4226535f57daaecbbafb448b3f6c5c1abeb63e50e6edea938b6dd93aa4ad658c73286b6c918bc1490237fb36e309129bbf8b08e28bc8591ac5760671df630128" name="mainFrame2" width="940" height="450" scrolling="no" noresize></iframe><br>
                  <iframe src="{{ url }}invoice/9/33" name="leftFrame1" width="940" height="450" scrolling="no" noresize></iframe><br>
                  <iframe src="{{ url }}invoice/11/33" name="mainFrame" width="940" height="450" scrolling="no" noresize></iframe><br>
                  <iframe src="{{ url }}invoice/1111/33" name="mainFrame" width="940" height="450" scrolling="no" noresize></iframe><br>
                  <iframe src="{{ url }}invoice/2222/33" name="mainFrame" width="940" height="450" scrolling="no" noresize></iframe><br>

                    <h2> functions: get_payments_from:</h2>
                    <iframe src="{{ url }}payments_from/2/5555" name="mainFrame" width="940" height="550" scrolling="no" noresize></iframe><br>
                  


                <div id="pack"></div>
            </div>
            
        </div>
    </div>
</div>

{{> footer }}